.dd-menu-trigger {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 6px;
  border: none;
  vertical-align: middle;
  background: transparent;
}


.dd-menu-trigger span {
  margin-right: 12px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #A1A9B5;
}

.dd-menu-trigger:hover span {
   color: white;
}

.dd-menu-trigger span.active {
   color: white;
}

.dd-menu-container {
  position : relative;
}

.dd-menu {
  background: #ffffff;
  border-radius: 8px;
  position: absolute;
  top: 60px;
  right: 0;
  width: 300px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease, visibility 0.4s;
}

.dd-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dd-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dd-menu li {
  border-bottom: 1px solid #dddddd;
}

.dd-menu li a {
  text-decoration: none;
  color: #333333;
  padding: 15px 20px;
  display: block;
}
