.vector-wrapper {
  cursor: pointer;
}

.vector-logo .logo_inactive {
  display: block;
}
.vector-logo:hover .logo_inactive{
  display: none;
}

.vector-logo .logo_active {
  display: none;
}
.vector-logo:hover .logo_active{
 display: block;
}

.dd-menu-trigger .arrow path{
  fill: #A1A9B5;
  ;
}

.dd-menu-trigger:hover .arrow path{
  fill: white;
}

.vector-arrow {
  margin-top: -3px;
}

.arrow_closed {
  transform: rotate(0);
  transition: transform 0.2s linear;
}
.arrow_open {
  transform: rotate(-180deg);
  transition: transform 0.2s linear;
}
.dd-menu-trigger .arrow.arrow_open path{
 fill: white;
}